body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
}


.header {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
}

.header nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
}

.header nav span{
  font-size: 15px;
}

.header nav a:hover {
  text-decoration: underline;
}

/* Ensure nav links are flex containers */
.header nav a.nav-link {
  display: flex;
  flex-direction: column; /* Stack icon above text */
  align-items: center;    /* Center align both icon and text */
  justify-content: center;
}

/* Style for the profile icon */
.nav-icon {
  height: 40px; /* Smaller size for the icon */
  margin-left: 4px; /* Space between the icon and the text */
}

.hero {
  color: white;
  padding: 2rem;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.section {
  background-color: rgb(24, 24, 24);
  margin: 10rem 3rem; /* Added vertical margin between sections */
  padding: 3rem; /* Adjusted padding for more spacing inside each section */
  border-radius: 10px;
  color: aqua;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  height: 350px; /* Adjusted height */
  transition: 0.5s ease-in-out;
}

.section:hover {
  border-color: #007BFF;
  box-shadow: 0 4px 8px rgba(0, 208, 255, 0.381);
  cursor: pointer;
}

.profile {
  background-color: white;
  margin: 1rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
